@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    1 Panther Way<br />
    Charlotte, 28944<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:MeDeConzo@gmail.com">MeDeConzo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MeDeConzo@gmail.comm">MeDeConzo@gmail.com</a>
</address>