@{
    ViewBag.Title = "Highlights";
}
    <h2>@ViewBag.Title.</h2>
    

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panthers Highlights from the Year!</title>
</head>
<body>
    <div align="center">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/_NErb1kytBk" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
