@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
    <h1>Three and Out</h1>
        <p> A collective source for information and media for the Carolina Panthers.</p>
    </div>
    <div class="container">
        <p align ="center" class="text-primary">The Carolina Panthers Instagram has really stepped up their game the past 2 years as far as quality of content.</p>
    </div>

    <div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="C:\Users\Michael\Documents\Visual Studio 2015\Projects\ThreeandOut\ThreeandOut\Content\Images\1.jpg">
                <img class="img-responsive" img src="\Content\Images\1.jpg" alt="Making it look easy" style="width:100%" />
                <div class="caption">
                    <p>Making it look easy</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="C:\Users\Michael\Documents\Visual Studio 2015\Projects\ThreeandOut\ThreeandOut\Content\Images\2.jpg">
                <img class="img-responsive" img src="\Content\Images\2.jpg" alt="Patriotic" style="width:100%" />
                <div class="caption">
                    <p>National Anthem</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href=""C:\Users\Michael\Documents\Visual Studio 2015\Projects\ThreeandOut\ThreeandOut\Content\Images\3.jpg">
                <img class="img-responsive" img src="\Content\Images\3.jpg" alt="Lollipop" style="width:100%"/>
                <div class="caption">
                    <p>Eyes on target</p>
                </div>
            </a>
        </div>
    </div>
</div>

<body>
    <div>
        
        <h1>Recent Events</h1>
    </div>
    <div>
        <p class="ridge">
            The Draft has been the buzz recetly. Consisting of all the potential moves that could be made based on upcoming free agents and rookies fresh out of the draft.
            Our <b>Cap Space</b> is actually considerable this year, clocking in at <b>$25,804,220</b>. It will be tremendously interesting to see where Gettlemen goes this year. Especially 
            considering the drastic shift from making a run to the Super Bowl and the contrast that was this year as a whole.There are a lot of glaring issues in our roster, especially
            with regards to depth, that need to be addressed.
        </p>

    </div>

</body>
